@page "/rounds"
@using TTT2StatsApi.Models;
@using System.Globalization;
@inject HttpClient client;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration configuration;
@inject ILogger<Rounds> logger;

<h3>Rounds</h3>
<p>Most Recent First - All Times In Your Local Time</p>
<div id="roundTableDiv" class="row">
    <ErrorBoundary>
        <ChildContent>
            <table id="roundTable" class="pure-table pure-table-striped">
                <thead id="RoundTableHeader">
                    <tr id="RoundHeaderRow">
                        <th>Id</th>
                        <th>Map</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Ended Normally</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var roundItem in rounds)
                {
                    DateTime startDateTime = DateTimeOffset
                    .FromUnixTimeSeconds(roundItem.StartTime)
                    .DateTime
                    .ToLocalTime();
                    DateTime? endDateTime = null;
                    if (roundItem.EndTime != null)
                    {
                        endDateTime = DateTimeOffset
                        .FromUnixTimeSeconds(roundItem.EndTime ?? 0)
                        .DateTime
                        .ToLocalTime();
                    }

                    <tr @onclick="@(async args => await HandleRowClick(roundItem.Id))">
                        <td>@roundItem.Id</td>
                        <td>@roundItem.Map</td>
                            <td style="white-space: nowrap">
                                @(startDateTime.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.CurrentCulture))
                            </td>
                        <td style="white-space: nowrap">
                            @if(endDateTime != null)
                            {
                                string timeFormat = startDateTime.DayOfYear == endDateTime?.DayOfYear ? "HH:mm:ss" : "yyyy-MM-dd HH:mm:ss";
                                @(endDateTime?.ToString(timeFormat, CultureInfo.CurrentCulture))
                            }
                        </td>
                        <td>@if(roundItem.EndedNormally)
                            {
                                <p class="t-align-center t-emoji">✅</p>
                            }
                        </td>
                        <td>@roundItem.Result</td>
                    </tr>
                    @if(openRowId == roundItem.Id)
                    {
                        <tr>
                            <td colspan="6" class="">
                                    <div class="d-flex flex-row">
                                        <div class="p-2">
                                                <p class="text-nowrap fw-bold">@roundItem.Map</p>
                                                <!--Replace with map image-->
                                                <img src="~/icon-192.png" alt="Map icon for @roundItem.Map" class="rounded">
                                        </div>
                                        <div class="flex-grow-1 p-2">
                                            <ErrorBoundary>
                                                <ChildContent>
                                                    @if(rowValidForInfos)
                                                    {
                                                        @if(playerRoundInfos != null)
                                                        {
                                                            <CascadingValue Value="@roundItem" Name="RoundItem">
                                                                <CascadingValue Value="@playerRoundInfos" Name="PlayerRoundInfos">
                                                                    <RoundInfoTable />
                                                                </CascadingValue>
                                                            </CascadingValue>
                                                        }
                                                        else 
                                                        {
                                                            <div class="loading-progress">Loading...</div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="d-flex">
                                                            <div class="justify-content-center align-content-center">
                                                                <p>Detailed info is unavailable for incomplete rounds.</p>
                                                            </div>
                                                        </div>
                                                    }
                                                </ChildContent>
                                                <ErrorContent>
                                                    <p>There was an error loading the info for this round :(</p>
                                                </ErrorContent>
                                            </ErrorBoundary>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </ChildContent>
        <ErrorContent>
            <p>There was an error loading the Rounds table :(</p>
        </ErrorContent>
    </ErrorBoundary>
</div>

@code {
    private IEnumerable<RoundRow> rounds = new List<RoundRow>();
    [CascadingParameter(Name = "ApiBaseUrl")]
    protected string apiBaseUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        rounds = await client.GetFromJsonAsync<IEnumerable<RoundRow>>(apiBaseUrl + "/Round");
    }

    private long? openRowId = null;
    private bool rowValidForInfos = false;
    private IEnumerable<PlayerRoundInfoRow>? playerRoundInfos = null;

    private async Task FetchPlayerRoundInfos(long roundId)
    {
        playerRoundInfos = await client.GetFromJsonAsync<IEnumerable<PlayerRoundInfoRow>>($"{apiBaseUrl}/Round/{roundId}/Players");
        StateHasChanged();
    }

    private async Task HandleRowClick(long roundId)
    {
        if (openRowId == roundId)
        {
            openRowId = null;
            rowValidForInfos = false;
            playerRoundInfos = null;
        }
        else
        {
            playerRoundInfos = null;
            rowValidForInfos = false;
            openRowId = roundId;
            var round = rounds.FirstOrDefault(round => round.Id == roundId);
            if (round != null && round.EndedNormally == true)
            {
                rowValidForInfos = true;
                _ = FetchPlayerRoundInfos(roundId);
            }
        }
    }
}
